    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
:root{
--negro-1: #141414;
--negro-2: #181818;
--negro-3: #1E1E1E;
--rojo-1: #FF4342;
--rojo-2: #C31926;
--blanco: #fff;
--gris-1: #3B3936;
--celeste-1: #D5E2F2;
--celeste-2: #657A8C;
--celeste-3: #364C59;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: solid greenyellow 1px;  */
    /* BORDER */
}
button:hover{
    position: relative;
    top: -1px;
    box-shadow: -1px 1px 6px black;
    
}
nav a, footer a{
    text-decoration: none;
    color: var(--blanco);
}
nav a:hover, footer a:hover{
    color: var(--rojo-2);
}

body {
    font-family: "Helvetica", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande", "sans-serif";
    font-weight: 300;
    }
.flex{
    display: flex;
    align-items: center;
    
}
    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
    /* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */
.navegacion{
    background-color:var(--negro-1);
    color: var(--blanco);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    z-index: 1;
}
nav{
    height: 100%;
}
nav ul{
    margin-left: 80%;
    width: 20%;
    height: 100%;
    font-size:xx-small;
    list-style-type: none;
    justify-content: space-evenly;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50vh;
}
    /* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */
    /* INICIO INICIO INICIO INICIO INICIO INIC */
.inicio{
    align-items: center;
    justify-content: space-evenly;
    background-image: 
        linear-gradient(to left bottom, var(--negro-3) 0%, var(--negro-1) 45%, var(--negro-1));
}   
h6{
    color: var(--rojo-1);
    font-size: smaller;
    padding: 2% 0;
}
h4{
    color: var(--blanco);
    letter-spacing: 1px;
    font-weight: 300;
}
h3{
    color: var(--blanco);
    letter-spacing: 1px;
}
h1{
    color: var(--blanco);
    font-size: 3.5vh;
    letter-spacing: 1px;   
}
p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: var(--blanco);
}
.img{
background-color: var(--negro-1);
grid-column-start: 2;
width: 50px;
height: 50%;
}
.inicio-txt{
    width: 100%;
}
button{
    background: linear-gradient(to right top, var(--rojo-2), var(--rojo-1)100%, var(--rojo-2));
    color: var(--blanco);
    font-size: x-small;
    font-weight: 500;
    letter-spacing: 1px;
    width: 10vw;
    height: 7vh;
    border: none;
}
    /* INICIO INICIO INICIO INICIO INICIO INIC */
    /* PROYECTOS PROYECTOS PROYECTOS PROYECTO */

.proy-bt{
    margin-left: 65%;
}
.proy-bg{
    position: absolute;
    background-color: var(--negro-1);
    height: 82vh;
    width: 100%;
    top: 50vh;
    z-index: -1;
    left: 0;
}
.proy-head{
    margin: 0 20%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}
.gris{
    background-color: var(--negro-2);
    z-index: -2;
    height: 86vh;
    top: 105vh;
  
}

.proyectos-img{
    width: 60%;
    height: 40rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
#mas{
    letter-spacing: 2px;
    color: var(--rojo-1);
    text-decoration: none;
}
#mas:hover{
    color: var(--blanco);
}
.fig-div{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.figure-class{
    margin-top: 8%;
    align-items: center;
}
.fig{
    height: 90%;
    width: 90%;
    margin-top: 10%;
    background: linear-gradient(to top right, var(--negro-2), var(--negro-3), var(--negro-2));
    align-self: center;
    

}
.descripcion{
    padding-top: 2%;
    text-align: left;
    margin-left: 5%;
}
.imagenes{
    display: block;
    position: relative;
    margin: auto;
    width: 70%;
    box-shadow: -1px 5px 15px black;
}
    /* PROYECTOS PROYECTOS PROYECTOS PROYECTO */
    /* CONTACTO CONTACTO CONTACTO CONTACTO C */
.bg2{
    position: absolute;
    background-color: var(--negro-1);
    height: 70vh;
    width: 100%;
    top: 150vh;
    z-index: -3;
    left: 0;
    }
.contactos{
    background: linear-gradient(to top right, var(--negro-2), var(--negro-3), var(--negro-2));
    margin: auto;
    margin-top: 5%;
    width: 60vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    /* CONTACTO CONTACTO CONTACTO CONTACTO C */
    /*FOOTER FOOTER FOOTER FOOTER FOOTER FOO*/
footer{
    border-top: var(--negro-3) double;
    background-color: var(--negro-2);
    width: 100%;
    height: 10vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.foo-imagenes{
    width: 30%;
    height: 100%;
    display: flex;
    justify-self: center;
    overflow: hidden;

}
.foo-img{
width: 33.33%;
height: 100%;
overflow: hidden;
pointer-events: none;

}

#linkedin{
    width: 32%;
    padding-top: 5%;
    display: block;
    margin: auto;
    pointer-events: auto;
  
}
#correo{
    width: 32%;
    padding-top: 5%;
    display: block;
    margin: auto;
    pointer-events: auto;
    
}
#git{
    width: 33%;
    padding-top: 5%;
    display: block;
    margin: auto;
    pointer-events: auto;

}

.cont:hover{
    position: relative;
    top:-2px;
}

#zamil{
    justify-self: right;
    margin-left: 18%;
}

    /*FOOTER FOOTER FOOTER FOOTER FOOTER FOO*/
    /*PROXIMAMENTE PROXIMAMENTE PROXIMAMENTE*/
.prox{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top right, var(--negro-2), var(--negro-3), var(--negro-2));
}
    /*PROXIMAMENTE PROXIMAMENTE PROXIMAMENTE*/
    /*MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA M*/
    @media(max-width: 600px){
        body{
            margin-top: 8%;
        }
        .fig{
            height: 20vh;
        }
        .fig-div{
            width: 100%;
            height: 30vh;
        }
        .figure-class{
            width: 80%;
            margin: auto;
        }
        .proyectos-img{
            height: 150vh;
        }
        .bg2{
            height: 120vh;
        }
        #cnt{
            width: 12vw;
        }
        nav ul{
            width: 100%;
            margin: auto;
        }
        button{
            width: 100%;
        }
        .contactos{
            height: 40vh;
            width: 100%;
        }
        #cnt{
            width: 20vw;
        }
        #cnt:hover{
            left: -2px;
        }
        footer{
            margin-top: 0;
        }
        #correo{
            width: 100%;
        }
        #git{
            width: 100%;
        }
        #linkedin{
            width: 100%;
        }
        .zam1{
            width:1px;
            height: 1px;
            overflow: hidden;
        }
    }
    @media(max-width: 400px){
        .bg2{
            height: 115vh;
        }
        .foo-imagenes{
            width: 30%;
            padding-top: 4%;
        }
        .figure-class{
            padding-top: 10%;
        }
        #zamil{
            margin-left: 5%;
        }
        .contactos{
            margin: 0;
            flex-wrap: wrap;
        }
    
    }
    @media(max-width: 1000px) and (min-width: 600px){
        .descripcion{
            position: relative;
            top: -20%;
        }
        .foo-imagenes{
            padding-top: 2%;
            position:relative;
            width: 60%;
        }
        #zamil{
            margin-left: 0;
        }
    }
    /*MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA M*/
    /* MODO CLARO MODO CLARO MODO CLARO M */
 .darkmode, .darkmode .proy-bg, .darkmode .bg2{
    background: var(--celeste-2);

}
.darkmode h6, .darkmode p, .darkmode nav a, .darkmode #mas, .darkmode h1, .darkmode h3{
    color: var(--negro-1);
    font-weight: 1000;

}
.darkmode a:hover, .darkmode #mas:hover{
    color: var(--gris-1);
    font-weight: 1000;
}

.darkmode a{
    color: var(--blanco)
}
 .darkmode nav, .darkmode footer, .darkmode button{
    background: var(--celeste-3);

}
.darkmode .gris{
    background-color: var(--celeste-1);
}
.darkmode .inicio{
    background: linear-gradient(to left bottom, var(--celeste-3) 0%, var(--celeste-2) 30%, var(--celeste-2));

}
.darkmode .fig, .darkmode .contactos{
    background: linear-gradient(to top right, var(--celeste-3), var(--celeste-2), var(--celeste-3));

}
    /* MODO CLARO MODO CLARO MODO CLARO M */

